    <footer>
        <nav>
            <ul>
                <li>
                    <a href="/feed">
                        <img src="/img/icons/feed.svg" alt="Feed">
                    </a>
                </li>
                <li>
                    <a href="/upload">
                        <img src="/img/icons/addplants.svg" alt="Upload plants">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/img/icons/favorites.svg" alt="Favorites">
                    </a>
                </li>
            </ul>
        </nav>
        
    </footer>

    <% if (title == 'home') { %>
        <script src="/js/script.js"></script>
    <% } %>

    <% if (title == 'upload') { %>
        <script src="/js/formscript.js"></script>
    <% } %>

    <% if (title == 'succes') { %>
        <script src="/js/succes.js"></script>
    <% } %>

    
    <% if (title == '404') { %>
        <script src="/js/not-found.js"></script>
    <% } %>
    </body>
</html>