    <footer>
        <nav>
            <ul>
                <li>
                    <a href="#">
                        <img src="/img/icons/feed.svg" alt="Feed">
                    </a>
                </li>
                <li>
                    <a href="/upload">
                        <img src="/img/icons/addplants.svg" alt="Upload plants">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/img/icons/favorites.svg" alt="Favorites">
                    </a>
                </li>
            </ul>
        </nav>
        
    </footer>

    <script src="/js/script.js"></script>

    </body>
</html>