<%- include('header.ejs') %>

<main>
    <button id="agreebutton">agree notification</button>
    
    <h2>Welcome to Plant Parents!</h2>
    <p>Find the specific plant for your environment, less chances of dying, more happy plants and people</p>

    <section>
        <h3>Recent uploads</h3>
        <%- include('plantinfocard.ejs') %>
    
        <!-- <ul>
            <% allPlants.forEach(function(plants) { %>
            <li><%= plants.planttype %></li>
            <% }) %>
        </ul> -->
        <a href="/feed">Discover all plants!</a>
    </section>

    <q></q>

    <form action="/succes" method="post">

        <label for="name">Name</label>
        <input type="text" name="name" placeholder="ex. John Doe">

        <button type="submit" value="add">Submit</button>
    </form>
    

</main>

<%- include('footer.ejs') %>