<%- include('header.ejs') %>

<main>
    <h2>Welcome to Plant Parents!</h2>
    <p>Find the specific plant for your environment, less chances of dying, more happy plants and people</p>

    <h3>Recent uploads</h3>
    <ul>
        <% allPlants.forEach(function(plants) { %>
        <li><%= plants.planttype %></li>
        <% }) %>
    </ul>
</main>

<%- include('footer.ejs') %>