<%- include('header.ejs') %>

<main>
    <h2>I am sorry!</h2>
    <p>This root died...try another one! Or enjoy this random meme</p>
    <img id="meme" src="" alt="">
</main>

<%- include('footer.ejs') %>