<%- include('header.ejs') %>

<main>
    <h2>Bekijk beschikbare <%= plantType %></h2>
    <% if (plantType == "cactus") { %>
        <p>CACTUSSSSSS</p>
    <% } %>

</main>

<%- include('footer.ejs') %>