<ul id="plantinfocard">
    <li>kaas</li>
    <li><img src="" alt=""></li>
    <li><img src="../img/icons/singledrop.svg" alt=""> water</li>
    <li><img src="../img/icons/halfshadowsun.svg" alt=""> zon</li>
    <li><img src="../img/icons/skilllevel.svg" alt=""> Beginner</li>
</ul>

