<%- include('header.ejs') %>

<main>
    <h2>Thanks!</h2>
    <p>The upload of "YOURPLANT" has been succesfull!</p>
    <p>It might take a while before it is showing on the feed, in the mean time, see the result here:</p>
    
    <%- include('plantinfocard.ejs')%>
</main>

<%- include('footer.ejs') %>