<%- include('header.ejs') %>

<main>
    <h2>Thanks!</h2>
    <p>The upload of "YOURPLANT" has been succesfull!</p>
    <p>It might take a while before it is showing on the feed, in the mean time, see the result here:</p>
    
    <ul id="plantinfocard">
        <li>kaas</li>
        <li><img src="" alt=""></li>
        <li><img src="../img/icons/singledrop.svg" alt=""> water</li>
        <li><img src="../img/icons/halfshadowsun.svg" alt=""> zon</li>
        <li><img src="../img/icons/skilllevel.svg" alt=""> Beginner</li>
    </ul>
</main>

<%- include('footer.ejs') %>