<%- include('header.ejs') %>

<main>
    <h2>Thanks!</h2>
    <p>The upload of "YOURPLANT" has been succesfull! </p>
    <p>See the result here:</p>
    <img src="#" alt="Your plant">
</main>

<%- include('footer.ejs') %>