<%- include('header.ejs') %>

<main>
    <h2>Upload your plant here!</h2>
    <p>Fill in all information so we can find a perfect home for the specific environment your plant needs!</p>

    <section>
        <p>*Required fields</p>

        <form action="" method="get" class="upload-form">
            <label for="plantpic">Choose images</label>
            <input type="file" name="plantpic" id="plantpic" accept="image/png, image/jpeg" required >

            <label for="plant-type">Select plant type</label>
            <input type="text" name="plant-type" id="plant-type" required>

            <label for="plant-height">Height</label>
            <input type="number" name="plant-height" id="plant-height" required>

            <label for="pot-diameter">Current diameter of the pot</label>
            <input type="number" name="pot-diameter" id="pot-diameter" required>

            <fieldset>
                <legend>Needs a repot?</legend>
            
                <div>
                    <input type="radio" name="repot" id="yes" value="yes">
                    <label for="yes">Yes</label>
                </div>

                <div>
                    <input type="radio" name="repot" id="no" value="no">
                    <label for="yes">No</label>
                </div>
            </fieldset>

            <label for="sunlight-brightness">Sunlight brightness</label>
            <input type="range" name="sunlight-brightness" id="sunlight-brightness" min="0" max="4">

            <label for="water-ammount">Water ammount</label>
            <input type="range" name="water-ammount" id="water-ammount" min="0" max="4">

            <label for="soil-type">Soil-type</label>
            <select name="soil-type" id="soil-type" size="4" mulitple>
                <option value="regular" selected>Regular</option>
                <option value="perlite">Perlite</option>
                <option value="succulent">Succulent mix</option>
                <option value="else">Else...</option>
                <!-- INPUT TYPE CHECKBOX NOG EVEN NAAR KIJKEN -->
                <!-- If "Else" is selected, then show another field where people can type in their mixture -->
            </select>

            <!-- <fieldset>
                <legend>Choose your monster's features:</legend>
            
                <div>
                  <input type="checkbox" id="scales" name="scales" checked>
                  <label for="scales">Scales</label>
                </div>
            
                <div>
                  <input type="checkbox" id="horns" name="horns">
                  <label for="horns">Horns</label>
                </div>
            </fieldset> -->

            <fieldset>
                <legend>Care level</legend>
            
                <div>
                    <input type="radio" name="care-level" id="beginner" value="beginner">
                    <label for="beginner">Beginner</label>
                </div>

                <div>
                    <input type="radio" name="care-level" id="intermediate" value="intermediate">
                    <label for="intermediate">Intermediate</label>
                </div>

                <div>
                    <input type="radio" name="care-level" id="expert" value="expert">
                    <label for="expert">Expert</label>
                </div>
            </fieldset>

            <label for="additional-info">Additional info</label>
            <textarea id="additional-info">
                Add more info or specialties about your plant 
            </textarea>

            <div>
                <label for="agreement" id="agreement">I agree with the terms and conditions</label>
                <input type="checkbox" name="agreement" id="agreement" required>
            </div>

            <button type="submit">Upload my plant!</button>
        
          </form>
    </section>

    <!-- <form action="succes.html" method="GET">

        <label for="inspirationphoto">Upload a photo</label>
        <input type="file" id="inspirationphoto"  accept="image/png, image/jpeg" required>

        <label for="phototitle">Photo Title</label>
        <input type="text" id="phototitle" required />

        <label for="districts">Choose the district</label>
        <select id="districts">
            <option value="somewhere" selected>Unknown</option>
            <option value="centrum">Centrum</option>
            <option value="north">North</option>
            <option value="east">East</option>
            <option value="west">West</option>
            <option value="newwest">New-West</option>
            <option value="south">South</option>
            <option value="southeast">South-east</option>
        </select>

        <label for="experience">Add a story (optional)</label>
        <textarea id="experience">
            Write about your experience in Amsterdam and how you got inspired. Do you have tips for other people?
        </textarea>

        <label for="quote">Add a quote (optional)</label>
        <textarea id="quote">
            Roses are red, violets are blue... 
        </textarea>
        
    <button>Submit</button>
        
    </form> -->

</main>

<%- include('footer.ejs') %>